GCP_PROJECT_ID=
GCS_BUCKET_NAME=
ALCHEMY_API_KEY=
ETHEREUM_NETWORK=
ETHERSCAN_API_KEY=
BQ_DATASET_ID=

# ── Airflow ─────────────────────────────────────────────
FERNET_KEY=
AIRFLOW_UID=

# GCP Credentials
GOOGLE_APPLICATION_CREDENTIALS=
APP_ENV=


# 프론트
VITE_API_URL=http://<VM_1_고정_IP>:8000
VITE_WS_URL=ws://<VM_1_고정_IP>:8000/ws/whales

# VM 서버의 .env 파일에 추가할 내용
ALLOWED_ORIGINS='["https://사용자님의-vercel-주소.vercel.app"]'

