GCP_PROJECT_ID=
GCS_BUCKET_NAME=
ALCHEMY_API_KEY=
ETHEREUM_NETWORK=
ETHERSCAN_API_KEY=
BQ_DATASET_ID=

# ── Airflow ─────────────────────────────────────────────
FERNET_KEY=
AIRFLOW_UID=

# GCP Credentials
GOOGLE_APPLICATION_CREDENTIALS=
